# 빌드 결과물 제외
**/target/
/target/
GIT_PROJECT/target/

# 이클립스 및 설정 파일 제외
.settings/
.classpath
.project
.metadata/
bin/
*.tmp
*.bak

# Maven 및 기타 설정
.mvn/
*.properties
*.mf
*.MF
META-INF/

# OS 파일
Thumbs.db
[Dd]esktop.ini

## 개발자가 추가한 제외 항목 
application.properties 